@import url("./reset.css");
@import url("./vars.css");

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background-color: var(--gray-700);
}

.app {
  margin: 0 auto;
  max-width: 700px;
}

.heading {
  margin: 30px 0;
  font-size: 2em;
  font-weight: 700;
  color: var(--gray-100);
}

a, a:active, a:focus, a:visited {
  text-decoration: none;
  color: var(--gray-100);
}